body
{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a
{
    text-decoration: none;
    color: black;
}

h1
{
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#MainTitle
{
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0px;
    margin-bottom: 20px;
}

#Location
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f5f0f0;
    box-shadow: inset 0px 2px 10px gray;
    margin-top: -20px;
}

.fa-map-marker-alt
{
    color: #210d0c;
    margin-right: 20px;
}

#entete
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #f5f2f2;
}

h2
{
    font-weight: bold;
}

.titremarge
{
    margin-left: 20px;
}

.soustitre
{
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 30px;
}
.explorer
{
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-image: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 2px 2px 10px grey;
    text-decoration: none;
    transition: all 400ms;
    margin-bottom: 30px;
}

.explorer:hover
{
    transform: scale(1.05);
    box-shadow: 2px 2px 20px black;
    background-image: linear-gradient(#f09dd8, #b28de0);
}
.group0
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;

}

.number
{
    color: white;
    background-color: #9356DC ;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    text-align: center;
    margin-left: -40px;
}

.boxtype0
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #f5f2f2;
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 30px;
    height: 60px;
    background-color: #f5f2f2;
    box-shadow: 5px 5px 10px rgb(189, 173, 173);
    transition: all 400ms;
}

.boxtype0:hover
{
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgb(148, 141, 141);
}

.logo1
{
    margin-right: 30px;
    color: grey;
}

#bodyaccueil
{
    background-color: #f5f2f2;
    padding-top: 1px;
    padding-bottom: 1px;
}

.restobox
{
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(189, 173, 173);
    margin: 20px;
    margin-bottom: 40px;
    position: relative;
    transition: all 400ms;
}

.restobox:hover
{
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgb(148, 141, 141);
}

.imageaccueil
{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.nometlike
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nommarge
{
    margin-left: 10px;
    line-height: 10px;
}

.fa-heart
{
    font-size: 30px;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

#footeradjust
{
    background-color: #424242;
    padding: 30px;
}

#h1footer
{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.foottxt
{
    color: white;
    line-height: 12px;
}


.footlogo
{
    color: white;
    width: 30px;
}

/* CSS des autres pages HTML */ 

#pagemenu
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.entêtemenu
{
    position: relative;
}

.fa-arrow-left
{
    font-size: 25px;
    color: #424242;
}

.logoflèche
{
    height: 60px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 25px;
}

.imagemenu
{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#Menu
{
    background-color: #f5f2f2;
    border-radius: 40px 40px 0px 0px;
    margin-top: -50px;
    position: relative;
    padding-top: 20px;
}

.h1menu
{
    margin: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.entêtemenu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.logocoeur
{
    display: flex;
    align-items: center;
    height: 60px;
}

.heartmenu
{
    margin: 0px;
    top: 15px;
    right: 0px;
}

.boxplat
{
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(189, 173, 173);
    margin: 10px;
    padding: 10px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.boxplalign
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.epd 
{
    font-weight: lighter;
    margin-left: 20px;
    border-bottom: 2px solid #99E2D0;
    width: 35px;
    padding-bottom: 10px;
}

.h3menu
{
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 75%;
}

.menupart
{
    margin-top: 30px;
}

.intitulé
{
    font-weight: lighter;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 75%;
}

.prix
{
    margin-right: 20px;
    font-weight: bold;
}

.espacecommander
{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

.commander
{
    background-color: #FF79DA;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-image: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 2px 2px 10px grey;
    text-decoration: none;
    transition: all 400ms;
}

.commander:hover
{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px black;
    background-image: linear-gradient(#f09dd8, #b28de0);
}


@media all and (min-width: 1080px)
{
    .responsive
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .restobox
    {
        width: 20%;
    }

    .footres
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 150px;
        margin-right: 150px;
    }

    #entete
    {
        display: flex;
        justify-content: center;
    }

    .responsive2
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .responsive2bis
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .boxplat
    {
        width: 25%;
        margin-right: 20px;
        margin-left: 20px;
    }
}