body
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1
{
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 60px;
}

#Location
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f5f0f0;
    box-shadow: inset 0px 2px 10px gray;
    margin-top: -20px;
}

.fas
{
    color: #210d0c;
    margin-right: 20px;
}

#entete
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #f5f2f2;
    height: 235px;
}

h2
{
    font-weight: bold;
}

#titremarge
{
    margin-left: 20px;
}

.soustitre
{
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 30px;
}
.explorer
{
    background-color: #FF79DA;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-image: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 2px 2px 10px grey;
    text-decoration: none;
}

.group0
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;

}

.number
{
    color: white;
    background-color: #9356DC ;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    text-align: center;
    margin-left: -40px;
}

.boxtype0
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #f5f2f2;
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 30px;
    height: 60px;
    background-color: #f5f2f2;
    box-shadow: 5px 5px 10px rgb(189, 173, 173);
}

.fas
{
    margin-right: 30px;
    color: grey
}